#projects{
    padding-top: 10vh;
}

.project{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    height: 324px;
    margin-bottom: 100px;
}

.project:nth-of-type(even){
    /* background-color: red; */
    align-items: flex-start;
}

.project-banner{
    position: absolute;
    z-index: 0;
    top: 0;
    height: 324px;
    width: 547px;
}

.project:nth-of-type(odd) .project-banner{
    left: 0;
}

.project:nth-of-type(even) .project-banner{
    right: 0;
}

.project-banner > img{
    border-radius: 3px;
}

.project-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    z-index: 1;
}

.project:nth-of-type(even) .project-info{
    align-items: flex-start;
}

.project-name{
    font-size: 20px;
    color: #FEFEFE;
    font-weight: 600;
    margin-bottom: 20px;
}

.project-p{
    width: 460px;
    background-color: #112240;
    color: white;
    font-weight: 400;
    padding: 1em;
    line-height: 24px;
    border-radius: 3px;
    /* z-index: 0; */
}

.project-techs{
    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    gap: 40px;
}

.project-tech{
    font-size: 14px;
    color: white;
}

.project-links{
    list-style: none;
    display: flex;
    gap: 10px;
}

.proj-link-image{
    width: 20px;
    height: 20px;
}

.cover-layer{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgba(97, 233, 206, 0.7); */
    background-color: rgba(136, 146, 176, 0.75);
    transition: ease all .5s;
}

.cover-layer:hover{
    background-color: transparent;
}

@media screen and (max-width: 1050px){
    .project-banner{
        width: 52vw;
        height: 30.8vw;
        top: calc((324px - 30.8vw)/2);
    }
}