#about{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10vh;
}

#about-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#about-text{
    width: 546px;
    margin-right: 40px;
}

.about-p{
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 30px;
}

#about-photo{
    position: relative;
    z-index: 0;
    height: 100%;
    width: fit-content;
}

#about-photo > img{
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}

#about-photo-dec{
    position: absolute;
    width: 100%;
    height: 100%;
    /* width: 301px;
    height: 312px; */
    background-color: beige;
    top: 12px;
    left: 16px;
    border-radius: 3px;
    background-color: transparent;
    border: 2px solid #828DAA;
    z-index: -1;
}

@media screen and (max-width: 790px){
    #about{
        margin-bottom: 100px;
    }
    
    #about-text{
        width: 100%;
    }

    #about-body{
        flex-direction: column;
    }

    #about-photo{
        width: 220px;
        margin: auto;
    }
}