#hero{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero-hello{
    font-size: 16px;
    margin-bottom: 30px;
}

#hero-my-name, #hero-my-job{
    font-size: 72px;
}

#hero-my-name{
    color: #CCD6F6;
}

#hero-my-job{
    color: #8892B0;
}

#hero-about{
    line-height: 25px;
    width: 525px;
    margin-bottom: 60px;
    margin-top: 30px;
}

#hero-links{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.hero-link{
    font-size: 16px;
    height: 54px;
    width: 150px;
    border-radius: 3px;
    border: 2px solid;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid;
    font-weight: 600;
    text-decoration: none;
    transition: .25s ease all;
}

#hero-link-github{
    color: #828DAA;
}

#hero-link-github:hover{
    background-color: rgba(130, 141, 170, 0.3);
}

#hero-link-linkedin:hover{
    background-color: rgba(86, 207, 186, 0.3);
}

@media screen and (max-width: 1132px){
    #hero-my-name, #hero-my-job{
        font-size: clamp(40px, 6.3vw, 72px);
    }

    #hero-about{
        width: 50vw;
    }
  }

@media screen and (max-width: 500px){
    #hero-hello{
        margin-bottom: 3vw;
    }

    #hero-about{
        width: 100%;
        margin-top: 3vw;
    }

    .hero-link{
        width: clamp(120px, 30vw, 150px);
    }
}