#hero{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero-hello{
    font-size: 16px;
    margin-bottom: 30px;
}

#hero-my-name, #hero-my-job{
    font-size: 72px;
}

#hero-my-name{
    color: #CCD6F6;
}

#hero-my-job{
    color: #8892B0;
}

#hero-about{
    line-height: 25px;
    width: 525px;
    margin-bottom: 60px;
    margin-top: 30px;
}

#hero-links{
    display: flex;
    gap: 20px;
}

.hero-link{
    font-size: 16px;
    height: 54px;
    width: 150px;
    border-radius: 3px;
    border: 2px solid;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px solid;
    font-weight: 600;
    text-decoration: none;
}

#hero-link-github{
    color: #828DAA;
}
