#header{
    position: fixed;
    width: 100vw;
    height: 100px;
    padding: 0px 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    background-color: #0A192F;
    transition: 1s ease all;
}

#header.visible{
    top: 0;
}

#header.hidden{
    top: -100%;
}

#header.shadow{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#header.unshadow{
    box-shadow: none;
}

#nav-list{
    display: flex;
    list-style: none;
    gap: 32px;
}

.nav-item{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .025em;
}

.nav-link{
    text-decoration: none;
    color: #CCD6F6;
    transition: .25s ease all;
}

.nav-link:hover{
    color: #56CFBA;
}

#hamburguer-menu{
    display: none;
}

#hamburguer-menu:hover{
    cursor: pointer;
}

#hamburguer-menu-icon{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hamburguer-line{
    width: 20px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: .5s ease all;
}

#hamburguer-menu:hover .hamburguer-line{
    background-color: #56CFBA;
}

@media screen and (max-width: 500px) {
    #header{
        padding: 0px 7vw;
    }

    #hamburguer-menu{
        display: block;
    }

    #navbar{
        position: fixed;
        top: 100px;
        width: 100vw;
        left: -100%;
        padding: 25px 7vw 40px 7vw;
        /* background-color: #0A192F; */
        /* background-color: #112240; */
        background-color: rgba(10, 25, 47, 0.95);
        transition: .5s ease all;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    #navbar.show{
        left: 0;
    }

    #nav-list{
        flex-direction: column;
        gap: 20px;
    }
}