.App{
  background-color: #0A192F;
  display: grid;
  grid-template-columns: 1fr 950px 1fr;
}

#content{
  grid-column: 2 / 3;
}

.highlight-text{
  color: #56CFBA;
}

.section-title{
  font-weight: 600;
  font-size: 28px;
  color: #FEFEFE;
  letter-spacing: .05em;
  margin-bottom: 40px
}

.section-p{
  color: #828DAA;
  font-weight: 600;
  letter-spacing: .025em;
}

