.App{
  background-color: #0A192F;
  display: grid;
  grid-template-columns: 1fr 950px 1fr;
}

#content{
  grid-column: 2 / 3;
}

.highlight-text{
  color: #56CFBA;
}

.section-title{
  font-weight: 600;
  font-size: 28px;
  color: #FEFEFE;
  letter-spacing: .05em;
  margin-bottom: 40px
}

.section-p{
  color: #828DAA;
  font-weight: 600;
  letter-spacing: .025em;
}

.logo-svg{
  fill: #c6d0f0;
  transition: .5s ease all;
}

.logo-svg-2{
  stroke: #c6d0f0;
  transition: .5s ease all;
}

.logo-svg:hover{
  fill: #56CFBA;
}

.logo-svg-2:hover{
  stroke: #56CFBA;
}

@media screen and (max-width: 1132px){
  .App{
    grid-template-columns: 90px 1fr 90px;
  }
}

@media screen and (max-width: 500px) {
  .App{
    grid-template-columns: 7vw 1fr 7vw;
  }
}

